
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600&family=Oswald:wght@400;500;600;700&display=swap');


* {
    font-family: "Open Sans", sans-serif;

}
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;

}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color:rgb(63, 177, 63);
}
p  {
    margin: 0;
}


:root {
    --color1: #16a2df;
    --color2: #500505;

}
.welcome_part {
    background: var(--color1);
}
.welcome_icon li a {
    color: #626262;
}
/* menubar start  */
.navbar {
    padding: 20px 0;
}
.nav-link:hover {
    color: var(--color1)
}
/* menubar end */

/* hero part start*/
.hero_part {
    background: url(../img/hero-bg.jpg) no-repeat center;

    background-size: cover;
    padding: 90px 0;
}
.hero_con h1 {
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: calc(46px * 0.9);
}
.hero_con h1:nth-child(2) {
    font-weight: 700;
}
.hero_con p {
    font-size: 16px;
    line-height: calc(18px * 1.5);
    padding: 15px 0;
}
.hero_btn a {
    background:  0;
    background: var(--color1);
    border:1px solid var(--color1);
    text-transform: uppercase;
    font-family: "oswald";
}
.hero_btn a:hover {
    background-color: transparent;
    border-color:#fff;
}
.hero_btn a:nth-child(1) {
 margin-right: 20px;
}
/* hero part end*/




/* about part start */
.about_head  {
    padding: 60px 0 40px;
}
.about_head h3 {
    font-weight: 700;
    line-height: 0;
}
.about_con p {
    color: #353535;
    line-height: calc(18px * 1.5);
}
.about_con p:nth-child(2) {
    padding-top: 15px;
}



/* about part end */



/* service part start */
.service_con {
    background: #f1f1f1;
    padding: 40px 20px 20px;
    position: relative;
    transition: .4s;
}


.service_con:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
}     
    

.service_icon {
    height: 80px;
    width: 80px; 
    background: #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%);
    border: 8px double white;
    transition: .4s;

}

.service_con:hover .service_icon {
    background-color: var(--color2);
}
.service_con h4 {
    text-transform: uppercase;
    color: #353535;

}
.service_con p  {
    color: #555;

}
/* service part end*/


/*  portfolio part start */
.port_img  {
    position: relative;
}

.port_img_overlay  {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;

}
.port_img_overlay a  {
    height: 40px;
    width: 40px;
    background: var(--color2);
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;

}
.port_img:hover .port_img_overlay  {
    opacity: 1;
    visibility: visible;
    width: 100%;
}
/*  portfolio part end */



/*  team part start */
.team_img  {
    position: relative;
}

.team_img_overlay  {
    height: 100%;
    width: 0%;

    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;


}
.team_img ~ h4 {
    transition: .4s;
}

.team_img:hover ~ h4 {
    color: var(--color2);
}

.team_img:hover .team_img_overlay {
    opacity: 1;
    visibility: visible;
    width: 33.33%;
}
.team_img_overlay ul li a  {
    height: 40px;
    width: 40;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    text-decoration: none;
    border: 1px solid white;
    color: #fff;
    transition: 0.4s;
}
.team_img_overlay ul li a:hover {
    background: var(--color2);
    border-color: var(--color2);
}

/* team part end */


/* testimonial part start */


.testi_con  {
    background: #f1f1f1;
    padding: 20px;
    margin-top: 40px; 
    position: relative;
    
}
.rotate_box {
    height: 40px;
    width: 40px;
    background: #f1f1f1;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    top: -20px;
    left: 50%;
}


/* testi part end */



/* contact part start */
.contact_part  {
background: #353535;
padding: 30px 0 20px;
margin-top: 60px;
}
.contact_con_inner  {
    display: flex;
    gap: 15px;
    align-items: center;
}
.contact_con_inner .con_icon  {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--color2);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.link_main ul li a  {
    color:#000;
    text-decoration: none;
    display: block;
    padding: 5px 0;
    transition: .4s;

}
.links_main ul li a:hover  {
    color: var(--color2);

}



/* contact part end */

.footer_part  {
    background: #555;
}
.footer_con a  {
    color: var(--color2);
    text-decoration: none;
}





